<a href="https://colab.research.google.com/github/marinabrts/marinabrts.github.io/blob/main/bus_mob_pov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests, pandas as pd

In [ ]:
from google.colab import files
data_to_load = files.upload()

Saving businessReg.csv to businessReg.csv

In [ ]:
# businessReg.csv was downloaded from the World Bank website

In [ ]:
reg=pd.read_csv("businessReg.csv")

In [ ]:
df = pd.DataFrame(reg)

In [ ]:
df.head(5)

         Data Source World Development Indicators  ... Unnamed: 64 Unnamed: 65
0                NaN                          NaN  ...         NaN         NaN
1  Last Updated Date                   2021-11-23  ...         NaN         NaN
2                NaN                          NaN  ...         NaN         NaN
3       Country Name                 Country Code  ...      2020.0         NaN
4              Aruba                          ABW  ...         NaN         NaN

[5 rows x 66 columns]

In [ ]:
#drop N/A rows and columns

In [ ]:
new_df=df.dropna(axis=1, how='all', thresh=None, subset=None, inplace=False)

In [ ]:
new_df=df.dropna(axis=0, how='all', thresh=None, subset=None, inplace=False)

In [ ]:
new_df['Country']=new_df['Data Source']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
new_df

                     Data Source  ...                      Country
1              Last Updated Date  ...            Last Updated Date
3                   Country Name  ...                 Country Name
4                          Aruba  ...                        Aruba
5    Africa Eastern and Southern  ...  Africa Eastern and Southern
6                    Afghanistan  ...                  Afghanistan
..                           ...  ...                          ...
265                       Kosovo  ...                       Kosovo
266                  Yemen, Rep.  ...                  Yemen, Rep.
267                 South Africa  ...                 South Africa
268                       Zambia  ...                       Zambia
269                     Zimbabwe  ...                     Zimbabwe

[268 rows x 61 columns]

In [ ]:
del new_df['Unnamed: 4']

In [ ]:
del new_df['Unnamed: 5']

In [ ]:
del new_df['Unnamed: 6']

In [ ]:
del new_df['Unnamed: 7']

In [ ]:
del new_df['Unnamed: 8']

In [ ]:
del new_df['Unnamed: 9']

KeyError: ignored

In [ ]:
#create a data frame with just two columns: country and value for the most recent year (2018)

In [ ]:
good_df=[new_df['Country'],new_df['Unnamed: 62']]

In [ ]:
good_df

[1                Last Updated Date
 3                     Country Name
 4                            Aruba
 5      Africa Eastern and Southern
 6                      Afghanistan
                   ...
 265                         Kosovo
 266                    Yemen, Rep.
 267                   South Africa
 268                         Zambia
 269                       Zimbabwe
 Name: Country, Length: 268, dtype: object, 1              NaN
 3      2018.000000
 4              NaN
 5              NaN
 6         0.211648
           ...
 265       3.999011
 266            NaN
 267            NaN
 268       1.113789
 269       2.129929
 Name: Unnamed: 62, Length: 268, dtype: float64]

In [ ]:
good=pd.DataFrame(data=good_df)

In [ ]:
good.head(5)

                           1             3    ...      268       269
Country      Last Updated Date  Country Name  ...   Zambia  Zimbabwe
Unnamed: 62                NaN          2018  ...  1.11379   2.12993

[2 rows x 268 columns]

In [ ]:
# transpose the data frame to have 2 columns and many rows, not the other way

In [ ]:
good_1=good.T

In [ ]:
good_1

                         Country Unnamed: 62
1              Last Updated Date         NaN
3                   Country Name        2018
4                          Aruba         NaN
5    Africa Eastern and Southern         NaN
6                    Afghanistan    0.211648
..                           ...         ...
265                       Kosovo     3.99901
266                  Yemen, Rep.         NaN
267                 South Africa         NaN
268                       Zambia     1.11379
269                     Zimbabwe     2.12993

[268 rows x 2 columns]

In [ ]:
good_1.to_csv('good_1_csv')

In [ ]:
from google.colab import files
files.download("good_1_csv")

In [ ]:
from google.colab import files
data_to_load = files.upload()

Saving SocMobPov1_csv to SocMobPov1_csv

In [ ]:
# load the dataset with data on social mobility and poverty

In [ ]:
from google.colab import files
data_to_load = files.upload()

Saving good_1_csv to good_1_csv (2)

In [ ]:
bus=pd.read_csv("good_1_csv")
soc=pd.read_csv("SocMobPov1_csv")

In [ ]:
soc

           Country      Continent  Index Score  Poverty
0          Albania         Europe         55.6     33.8
1        Argentina  South America         57.3     14.0
2          Armenia           Asia         53.9     44.0
3        Australia        Oceania         75.1      0.7
4          Austria         Europe         80.1      1.0
..             ...            ...          ...      ...
68         Ukraine         Europe         61.2      3.0
69  United Kingdom         Europe         74.4      1.0
70   United States  North America         70.4      1.7
71         Uruguay  South America         67.1      2.9
72         Vietnam           Asia         57.8     22.0

[73 rows x 4 columns]

In [ ]:
# the two datasets have a "Country" column, so they can be joined

In [ ]:
df=soc.set_index('Country').join(bus.set_index('Country'),rsuffix='a')

In [ ]:
df.head(5)

               Continent  Index Score  Poverty  Unnamed: 0  Unnamed: 62
Country
Albania           Europe         55.6     33.8         9.0     1.520987
Argentina  South America         57.3     14.0        13.0     0.198630
Armenia             Asia         53.9     44.0        14.0     3.052420
Australia        Oceania         75.1      0.7        17.0    14.472168
Austria           Europe         80.1      1.0        18.0     0.649041

In [ ]:
df['Business Registrations']=df['Unnamed: 62']

In [ ]:
df

                    Continent  Index Score  ...  Unnamed: 62  Business Registrations
Country                                     ...
Albania                Europe         55.6  ...     1.520987                1.520987
Argentina       South America         57.3  ...     0.198630                0.198630
Armenia                  Asia         53.9  ...     3.052420                3.052420
Australia             Oceania         75.1  ...    14.472168               14.472168
Austria                Europe         80.1  ...     0.649041                0.649041
...                       ...          ...  ...          ...                     ...
Ukraine                Europe         61.2  ...          NaN                     NaN
United Kingdom         Europe         74.4  ...    15.645053               15.645053
United States   North America         70.4  ...          NaN                     NaN
Uruguay         South America         67.1  ...     1.255235                1.255235
Vietnam                  Asia         57.8  ...          NaN                     NaN

[73 rows x 6 columns]

In [ ]:
del df['Unnamed: 0']

In [ ]:
del df['Unnamed: 62']

In [ ]:
#drop N/A values

In [ ]:
df=df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [ ]:
df

                    Continent  Index Score  Poverty  Business Registrations
Country
Albania                Europe         55.6     33.8                1.520987
Argentina       South America         57.3     14.0                0.198630
Armenia                  Asia         53.9     44.0                3.052420
Australia             Oceania         75.1      0.7               14.472168
Austria                Europe         80.1      1.0                0.649041
...                       ...          ...      ...                     ...
Thailand                 Asia         55.4      6.0                1.127505
Tunisia                Africa         51.7     18.3                1.682088
Turkey           Asia, Europe         51.3     10.0                1.558687
United Kingdom         Europe         74.4      1.0               15.645053
Uruguay         South America         67.1      2.9                1.255235

[62 rows x 4 columns]

In [ ]:
df.to_csv('bus_mob_pov_csv')

In [ ]:
from google.colab import files
files.download("bus_mob_pov_csv")

In [ ]:
#save as bus_mob_pov_csv